
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.container input {
  padding: 12px;
  width: 50%;
  margin-bottom: 20px;
}

.container button {
  padding: 12px;
  width: 50%;
  border: none;
  margin:0 0 20px;
  border-radius: 5px;
  background-color: rgb(25, 87, 116);
  color: #fff;
  transition: all;
  font-size: 16px;
  font-weight: 700;
}

.container button:hover {
  filter: brightness(0.9);
}

.container hr {
  border: 1px solid black;
}





